replicaCount: 1

# Allows to enable and configure HPA
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 3
  targetCPUUtilizationPercentage: 80
  targetMemoryUtilizationPercentage: ""
  behavior: {}

avScanService:
  image: ghcr.io/netcracker/qubership-av-scan-service:main
  resources:
    requests:
      cpu: 100m
      memory: 200Mi
    limits:
      memory: 200Mi
  livenessProbe:
    initialDelaySeconds: 60
    timeoutSeconds: 3
    httpGet:
      path: /health
  readinessProbe:
    timeoutSeconds: 3
    httpGet:
      path: /health
  
  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop: [ "ALL" ]
    # runAsUser: 100 - for kubernetes only

# ClamAV configuration, used to perform actual scanning for viruses.
clamav:
  image: clamav/clamav:1.5.1
  # Private mirror URL. If not provided, DB updates are not enabled.
  privateMirror: ""
  # With this option you can provide custom sources for database files.
  # Works only if privateMirror is set.
  databaseCustomURL: []
  # Number of DB mirror "check for updates" per-day.
  checks: 24
  # Resources used by clamd daemon.
  # Should be at least 3Gb if DB updates are enabled.
  resources:
    requests:
      cpu: 500m
      memory: 3Gi
    limits:
      memory: 3Gi
  readinessProbe:
    timeoutSeconds: 3
    tcpSocket:
      port: 3310
  livenessProbe:
    timeoutSeconds: 3
    tcpSocket:
      port: 3310
    initialDelaySeconds: 60
  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    seccompProfile:
      type: RuntimeDefault
    capabilities:
      drop: [ "ALL" ]
    # runAsUser: 100 - for kubernetes only
  certs:
    enabled: true
    files:
      clamav.crt: |
        -----BEGIN CERTIFICATE-----
        MIIFhTCCA22gAwIBAgIJBJPyuFHF1b7RMA0GCSqGSIb3DQEBDQUAMF8xDjAMBgNV
        BAsTBUFyYm9yMQ4wDAYDVQQKEwVDaXNjbzE9MDsGA1UEAxM0Q2lzY28gU29mdHdh
        cmUgSWRlbnRpdHkgUm9vdCBDQSBSU0EgNDA5NiBTSEE1MTIgMjA5OTAgFw0yNDAx
        MjQxODQ1MjVaGA8yMDk5MDEyNDE4NDUyNVowXzEOMAwGA1UECxMFQXJib3IxDjAM
        BgNVBAoTBUNpc2NvMT0wOwYDVQQDEzRDaXNjbyBTb2Z0d2FyZSBJZGVudGl0eSBS
        b290IENBIFJTQSA0MDk2IFNIQTUxMiAyMDk5MIICIjANBgkqhkiG9w0BAQEFAAOC
        Ag8AMIICCgKCAgEA14hoPbzqZxPr8Wqpq2H+tOib+DkQP80mUP6zAw3uu+eNygd+
        jOBCenO6B7sp1sqCRT8QBQWQxNHVeVfMQN1vjMrqEMNh/eflVtOGy32UbkuQrVzj
        2H+G1PtjeMQKa26LD8XPDUIOpj9rzPdjKFFfz13tm21gNIiVSTI34T5BS5BNEQj1
        b+VQg+0kbANCOOTiTh+H/gxhpXRv8F3VNUrrPxA7a3WF5jhZZoPBns1LuBDW0fQ0
        av6q/uEWtfxMdSNsAxYWVhO90Nx4khOISA1Fs1h1klGsee5XZkLKdUWedZQzbUz1
        f7VPRxX+ddcK0Js2VPvxemMf2WaTbkrEi62y/cOaxqDs2xDTWEXrgOYYEfQ+RoeY
        pbzBCaErqZvCeOgrnXFSHSyyd9+dTOxJuypBH+AWKtmkQMQQ7RQJSkGvrP9NgRxD
        MXb1U4kpVn7kEEhv6telV9E8R635Zm4h/H9FQyc2LrLOuL5UPewMMWt8HqPbs2Xc
        n1kTLvpEDciDJDRvu4XuBsjgQMA0rlt5BHAmZdGO5Dq4+ARWAYrzN9+M0dK+0phT
        T9OOHItIL6wXcIiYLZBJlHfiemCByIcBBEYaRwdt3VP9tTl0F370StI2t1RMDPgt
        xHcsYqN09QG/tWzwr/yNckFhVs/+UGQWslv2/W6eiKge5REUFuxT6i7V6oUCAwEA
        AaNCMEAwDgYDVR0PAQH/BAQDAgEGMA8GA1UdEwEB/wQFMAMBAf8wHQYDVR0OBBYE
        FLd8Wz4X/JJ6Oi/+znsT0DTPuju8MA0GCSqGSIb3DQEBDQUAA4ICAQCZEut7iqp8
        39u7CHD8zMrvOMmUKtJ7G1MrhkJfdyek8g7ArG74bgcxM3ptwDusdFgKh/mmCj/m
        FU6TNjsufZ9hAyOE16ZtGflkOrRlihPQThDdGCxQjRsLVQa9S0IDkM1v1ZqvIMEc
        PJOj3rhvkIJVjpHc0AZQP/TnaT/7dKD1wFOSNYwzdvE2HKVNA8XbeS9TNpHqYPvE
        2gX6vQ7Pdn9DIF6YOmOuBobmaD1G7WbDz5Kvz5e3FdkzR+K3sGW4Qsr3OLt25dQS
        H+x7X06fihUxhEgRJJp2cPKABSKVR2hoyzKNEbzgtV25gH7lr+EHA6CQYltkVpyM
        4v1+PdX1EGY0+rAO+NsRwa6ndFteofJLh9PbvxHp0jGWnT1KF4lhmEyyka9JKbqT
        yiyGzDsw/YA9NxiAsp/Ex8aYXX1/SeM/kb6dp7tytsHewwflns1jfGqRVyrXQ41x
        CmmSioBvtZiry8BJTa8xIUWEsBL1pTl2RZrPDAw/qD10K2XJfh5HYFSkIppoIO+9
        0wN8TYcXbyY+JnU/g32AvkmA3o8lotK6nbwuf7MAFdtPHMA4F8mPM3jADc1uGu9O
        YweaA1c+P5KEOyr325cgsT04x4oeyvP3c3XMLpDpSgbzhfc9WyLYCf3R3jHlst1A
        KaDwBk2xoE3knxihYjbcRfjaaYdUkWY4mg==
        -----END CERTIFICATE-----

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP

podAnnotations: {}
podLabels: {}

nodeSelector: {}

tolerations: []

# A Kubernetes Affinity, if required. 
# For more information, see https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
#
# For example:
#   affinity:
#     nodeAffinity:
#      requiredDuringSchedulingIgnoredDuringExecution:
#        nodeSelectorTerms:
#        - matchExpressions:
#          - key: foo.bar.com/role
#            operator: In
#            values:
#            - worker
affinity: {}

global: {}

tls:
  enabled: false
  secretName: av-scan-service-tls
  crt: ""
  key: ""
  ca: ""
  generateCerts:
    enabled: false
    executor: cert-manager        # cert-manager or openshift
    clusterIssuerName: ""         # for cert-manager
    duration: 365                 # for cert-manager
    subjectAlternativeName:       # for cert-manager
      additionalDnsNames: []      # for cert-manager
      additionalIpAddresses: []   # for cert-manager
