name: Build and Publish Images
on:
  push:
    branches:
      - 'main'
    tags:
      - '*'
  workflow_dispatch: {}

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Validate manual execution for docker
        run: |
          if [[ "${{ github.event_name }}" == "workflow_dispatch" && "${{ github.ref }}" == refs/tags* ]]; then
            echo -e "\033[91mManual workflow run on tags is not allowed!\033[0m"
            exit 1
          fi

  build-image:
    runs-on: ubuntu-latest
    needs: validate
    steps:
      - uses: actions/checkout@v4
      - name: Build Docker Image for av-scan-service
        run: docker build -t av-scan-service --no-cache -f build/Dockerfile .
      - name: Publish av-scan-service to ghcr.io
        run: |
          GHCRIO_TAG=$(echo "${{ github.ref_name }}" | sed 's/\//_/g')
          GHCRIO_IMAGE=ghcr.io/saurabh0922/qubership-av-scan-service:$GHCRIO_TAG
          
          docker tag av-scan-service $GHCRIO_IMAGE
          
          echo -e "\033[0;32mPushing image ${GHCRIO_IMAGE}\033[0m"
          echo ${{ secrets.GITHUB_TOKEN }} | docker login https://ghcr.io -u $GITHUB_ACTOR --password-stdin
          docker push $GHCRIO_IMAGE
  
  build-transfer-image:
    runs-on: ubuntu-latest
    needs: validate
    steps:
      - uses: actions/checkout@v4
      - name: Archive bare repository
        run: |
          git clone --bare https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/Netcracker/qubership-av-scan-service
          zip -r repository.zip qubership-av-scan-service.git
      - name: Build Docker Image for av-scan-service-transfer
        run: docker build -t av-scan-service-transfer -f build/Dockerfile-transfer --no-cache .
      - name: Publish av-scan-service-transfer to ghcr.io
        if: startsWith(github.ref, 'refs/tags') || github.ref_name == 'CPSEC-1529' || inputs.publish
        run: |
          GHCRIO_TAG=$(echo "${{ github.ref_name }}" | sed 's/\//_/g')
          GHCRIO_IMAGE=ghcr.io/saurabh0922/qubership-av-scan-service-transfer:$GHCRIO_TAG
          
          docker tag av-scan-service-transfer $GHCRIO_IMAGE
          
          echo -e "\033[0;32mPushing image ${GHCRIO_IMAGE}\033[0m"
          echo ${{ secrets.GITHUB_TOKEN }} | docker login https://ghcr.io -u $GITHUB_ACTOR --password-stdin
          docker push $GHCRIO_IMAGE